django==5.2.5
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.0
django-cors-headers==4.7.0
django-filter==25.1.0
cryptography==45.0.6
python-dotenv==1.1.1
psycopg2-binary==2.9.10
pillow==11.3.0
celery==5.5.3
pika==1.3.2
django-celery-results==2.6.0
amqp==5.3.1
pytz==2025.2
django-redis==6.0.0
python-dateutil==2.9.0
drf-spectacular
drf-spectacular-sidecar
gunicorn==23.0.0
django-ckeditor-5==0.2.18


python-decouple==3.8
requests==2.32.3


# pip install vosk pydub gtts
# pip install git+https://github.com/myshell-ai/MeloTTS.git

# pip install vosk                                          # STT engine
# pip install git+https://github.com/myshell-ai/MeloTTS.git  # TTS engine
# python -m unidic download                                 # MeloTTS dependency
# pip install pydub                                         # audio conversion
# pip install gtts                                          # Urdu/Arabic fallback TTS
 
# # For Asterisk audio pipe support
# pip install pyaudio   # optional, only if using real-time mic testing
 
#  python -c "import nltk; nltk.download('averaged_perceptron_tagger_eng')"

# python -c "import nltk; nltk.download('averaged_perceptron_tagger')"
# python -c "import nltk; nltk.download('punkt')"
# python -c "import nltk; nltk.download('universal_tagset')"

# pip uninstall melotts -y
# pip install melotts

# pip install git+https://github.com/myshell-ai/MeloTTS.git





# For STT 
# Fix — download the Vosk model (2 options)
# Option A — Browser (easiest, 0 commands):

# Open this URL in Chrome/Edge and let it download (~40 MB):
# https://alphacephei.com/vosk/models/vosk-model-small-en-us-0.15.zip
# Right-click the downloaded ZIP → Extract All
# Open the extracted folder vosk-model-small-en-us-0.15
# Select ALL files inside it (Ctrl+A)
# Copy them (Ctrl+C)
# Navigate to F:\vicidial_bot_1\Backend\vosk_models\en\ (create this folder if it doesn't exist)
# Paste (Ctrl+V)